body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: #000;
}

body::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: url('..//images/undertale.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 2.5s ease-in-out; /* 動畫2.5秒進去 */
  z-index: 0;
}

/* 圖片淡出*/
body.bg-visible::before {
  opacity: 1;
}

.login-container {
  position: relative;
  background: transparent;
  border-radius: 15px;
  padding: 40px;
  width: 340px;
  text-align: center;
  overflow: visible;
  z-index: 2;
}
#loginTitle {
  font-family: "Bytesized";
  color: white;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 60px;
  text-shadow: 0 0 8px white;
}

.input-group {
  font-family: "Bytesized";
  text-align: left;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  color: white;
  font-size: 26px;
  outline: none;
  transition: border-color 0.3s;
}

.input-group span {
  position: absolute;
  left: 10px;
  top: 12px;
  color: white;
  font-size: 26px;
  pointer-events: none;
  transition: 0.3s ease all;
}

/* 當 input 獲得焦點或有內容時，標籤浮到上方 */
.input-group input:focus + span,
.input-group input:valid + span {
  top: -10px;
  font-size: 18px;
  color: white;
}

.input-group input.animate-line {
  animation: drawLine 0.8s forwards;
}
@keyframes drawLine {
  0% { border-bottom-width: 2px; border-color: transparent; transform: scaleX(0); transform-origin: left; }
  100% { border-bottom-width: 2px; border-color: white; transform: scaleX(1); transform-origin: left; }
}

.input-group input:focus {
  border-color: white;
  box-shadow: 0 0 10px white;
}

button {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 2px;
  text-shadow: 0 0 5px white;
  transition: 0.4s;
}

button:hover {
  box-shadow: 0 0 25px white;
  color: white;
}

#message {
  margin-top: 15px;
  color: red;
  font-size: 14px;
  text-shadow: 0 0 5px red;
}

.btn-group {
  display: flex;
  gap: 12px;              /* 兩個按鈕中間的距離 */
  justify-content: center;/* 置中，可改成 space-between */
}

.btn-group button {
  flex: 1;                /* 兩顆一樣寬 */
}

#loginBtn,
#loginBtn1 {
  font-family: "Bytesized";
  position: relative;
  overflow: hidden;
  width: 100%;
  background: transparent;
  color: white;
  border: 2px solid rgba(0,255,255,0);
  border-radius: 10px;
  font-size: 28px;
  cursor: pointer;
  letter-spacing: 2px;
  text-shadow: 0 0 5px white;
  transition: 0.4s;
}

